@import './common/theme.scss';

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 8px black;
    border-radius: 10px;

    @media (max-width: $mobileMax) {
        padding: 12px;
    }
}

.title {
    font-size: 44px;
    text-align: center;
    border-bottom: 1px solid orange;
    padding: 20px;
    margin: 0;
    font-weight: bold;
    color: orange;

    @media (max-width: $mobileMax) {
        font-size: 32px;
        padding: 12px;
    }
}