@import '../../../common/theme.scss';

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 0;

    @media (max-width: $mobileMax) {
        grid-template-columns: 1fr;
    }
}

.labelWrapper {
    display: grid;
    gap: 10px;
}

.label {
    font-weight: bold;

    @media (max-width: $mobileMax) {
        font-size: 16px;
    }
}

.statusText {
    @media (max-width: $mobileMax) {
        font-size: 16px;
    }
}

.input {
    padding: 10px;
    border-radius: 10px;
}

.state {
    cursor: pointer;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.amount {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;

    @media (max-width: $mobileMax) {
        font-size: 20px;
    }
}

.amountValue {
    color: orange;
    font-weight: bold;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.backButton {
    padding: 10px;
    text-align: center;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    color: orange;
    border: 2px solid orange;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;

    @media (max-width: $mobileMax) {
        padding: 8px;
    }

    &:hover {
        box-shadow: 0 0 10px orange;
    }

    &:disabled {
        opacity: 0.2;
        cursor: no-drop;
    }
}

.status {
    cursor: pointer;

    @media (max-width: $mobileMax) {
        font-size: 16px;
    }
}

.saveButton {
    padding: 10px;
    cursor: pointer;
    width: 200px;
    background: orange;
    min-height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;

    
    @media (max-width: $mobileMax) {
        padding: 8px;
        width: 100%;
    }

    &:hover {
        box-shadow: 0 0 4px orange;
    }

    &:disabled {
        opacity: 0.2;
        cursor: no-drop;
    }
}

.statusWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
    
    @media (max-width: $mobileMax) {
        margin-top: 10px;
        gap: 10px;
    }
}