.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 0;
}

.labelWrapper {
    display: grid;
    gap: 10px;
}

.label {
    font-weight: bold;
}

.input {
    padding: 10px;
}

.saveButton {
    padding: 10px;
    cursor: pointer;
    width: 200px;
    background: orange;
    min-height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 4px orange;
    }

    &:disabled {
        opacity: 0.2;
        pointer-events: none; 
    }
}


.statusWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}