.wrapper {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-size: 14px;
}

.inActiveCampaign {
    color: red;
}

.activeCampaign {
    color: green;
}

.table th {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.table tr {
    border-bottom: 1px solid #ccc;
}

.table td {
    padding: 10px;
    text-align: center;
    max-width: 200px;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.actionButton {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actionButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #f44336;
}

.deleteButton:hover {
    background-color: #d32f2f;
}