<div class="toast-container">
  <div
    *ngFor="let toast of toasts$ | async"
    class="toast"
    [ngClass]="'toast--' + toast.type"
    (click)="toastService.remove(toast.id)"
  >
    <span class="toast__icon">
      <ng-container *ngIf="toast.type === 'success'">✓</ng-container>
      <ng-container *ngIf="toast.type === 'error'">✕</ng-container>
      <ng-container *ngIf="toast.type === 'info'">i</ng-container>
    </span>
    <span class="toast__msg">{{ toast.message }}</span>
  </div>
</div>
